{
    "client":[],
    "ssh": {
        "host": "",
        "user": "",
        "password": "",
        "keyfile": ""
    },
    "ftp": [
        {
            "host": "",
            "user": "",
            "password": ""
        }
    ],
    "database": [
        {
            "database": "",
            "host": "",
            "user": "",
            "password": ""
        }
    ]
}